*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}
